<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'search_app/index_style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <title>Reddit Search</title>
</head>
<body>

<h1>Reddit Search</h1>
<form action="reddit_search/" method="post">
    {% csrf_token %}
    <div class="sub">
    <label for="subreddit">Enter Subreddit Name:</label><br>
    <input type="text" id="subreddit" name="subreddit"><br>
    <label for="search">Enter Key Word:</label><br>
    <input type="text" id="key_word" name="key_word"><br>
    <button type="submit">Search</button>
    </div>
</form>

</body>
</html> 